# MySQL
ref: http://mookrs.com/flask-sqlalchemy-mysql-python-3/

In [1]:
#如果再colab使用，就要再安裝這一個module
!pip install PyMySQL

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 884 kB/s
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [2]:
# 先裝 mysql的connection driver
# pip install PyMySQL

from sqlalchemy import create_engine
# 這是Malo在Heroku上暫時使用的MySQL，可以先暫用
mysql_db_url = 'mysql+pymysql://spy1hmjzgmohf37t:qo1v8pi7y4kflyoj@wb39lt71kvkgdmw0.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/qm1f2chzljeztwqj'
my_db = create_engine(mysql_db_url)

In [ ]:
# check and create table
# 如果使用Malo的MySQL，請重新命名你的Table名稱，後面的程式碼也是要改
resultProxy = my_db.execute("CREATE TABLE IF NOT EXISTS jacky_table(name text NOT NULL, score int)")
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x1e705eedf28>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x1e7059ef198>,
 'cursor': None,
 '_saved_cursor': <pymysql.cursors.Cursor at 0x1e705eedba8>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1e705eed668>,
 '_echo': False,
 'rowcount': 0,
 '_soft_closed': True}

In [ ]:
name = 'yang'
score = 80
resultProxy=my_db.execute("insert into malo_table (name, score) values('%s', '%s')" %(name, score))

In [ ]:
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x1e705f0c518>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x1e7059ef198>,
 'cursor': None,
 '_saved_cursor': <pymysql.cursors.Cursor at 0x1e705f0c550>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1e705f0c4e0>,
 '_echo': False,
 'rowcount': 1,
 '_soft_closed': True}

In [ ]:
# select
resultProxy=my_db.execute("select * from malo_table")
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('yang', 80)]

- 再多放幾筆

In [ ]:
name = 'lin'
score = 90
resultProxy=my_db.execute("insert into malo_table (name, score) values('%s', '%s')" %(name, score))
resultProxy

In [ ]:
# select
resultProxy=my_db.execute("select * from malo_table")
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('yang', 80), ('lin', 90)]

----
## 建立有Primary Key(對name)的Table，可以避免有相同的name產生

In [3]:
# check and create table (key需要指定長度，所以用varchar)
resultProxy = my_db.execute("CREATE TABLE IF NOT EXISTS malo_table2(name varchar(20) NOT NULL PRIMARY KEY, score Integer)")
resultProxy.__dict__

{'_echo': False,
 '_metadata': <sqlalchemy.engine.cursor._LegacyNoResultMetaData at 0x7f8ba43d75d0>,
 '_soft_closed': True,
 'connection': <sqlalchemy.engine.base.Connection at 0x7f8ba40448d0>,
 'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x7f8ba4031d10>,
 'cursor': None,
 'cursor_strategy': <sqlalchemy.engine.cursor.NoCursorDMLFetchStrategy at 0x7f8ba496cac0>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x7f8ba4138450>,
 'rowcount': 0}

In [ ]:
name = 'yang'
score = 80
resultProxy=my_db.execute("insert into malo_table2 (name, score) values('%s', '%s')" %(name, score))

In [ ]:
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x1e705f0c518>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x1e7059ef198>,
 'cursor': None,
 '_saved_cursor': <pymysql.cursors.Cursor at 0x1e705f0c550>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1e705f0c4e0>,
 '_echo': False,
 'rowcount': 1,
 '_soft_closed': True}

In [7]:
# select
resultProxy=my_db.execute("select * from malo_table")
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('Cindy', 95), ('malo', 95)]

In [5]:
name = 'yang2'
score = 80
resultProxy=my_db.execute("insert into malo_table2 (name, score) values('%s', '%s')" %(name, score))

In [7]:
# select
resultProxy=my_db.execute("select * from malo_table2")
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('malo', 70), ('yang', 80), ('yang2', 80)]

### upsert

In [9]:
name = 'malo'
score = 70

sql_cmd = "insert into malo_table2 (name, score) values('%s', '%s') " %(
    name, score )    
sql_cmd = sql_cmd + "ON DUPLICATE KEY UPDATE score='%s'" %(
    score )

resultProxy = my_db.execute(sql_cmd)
resultProxy.__dict__

{'_echo': False,
 '_metadata': <sqlalchemy.engine.cursor._LegacyNoResultMetaData at 0x7f2f88189f10>,
 '_soft_closed': True,
 'connection': <sqlalchemy.engine.base.Connection at 0x7f2f871da310>,
 'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x7f2f871da490>,
 'cursor': None,
 'cursor_strategy': <sqlalchemy.engine.cursor.NoCursorDMLFetchStrategy at 0x7f2f886a6ac0>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x7f2f87d46ad0>,
 'rowcount': 2}

In [ ]:
name = 'malo'
score = 90

sql_cmd = "insert into malo_table2 (name, score) values('%s', '%s') " %(
    name, score )    
sql_cmd = sql_cmd + "ON DUPLICATE KEY UPDATE score='%s'" %(
    score )

resultProxy = my_db.execute(sql_cmd)
resultProxy.__dict__