# MySQL
ref: http://mookrs.com/flask-sqlalchemy-mysql-python-3/

In [ ]:
mysql_db_url = 'mysql+pymysql://spy1hmjzgmohf37t:qo1v8pi7y4kflyoj@wb39lt71kvkgdmw0.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/qm1f2chzljeztwqj'

In [ ]:
!pip install PyMySQL

In [2]:
!pip install PyMySQL

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PyMySQL
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.8 MB/s
Installing collected packages: PyMySQL
Successfully installed PyMySQL-1.0.2

In [3]:
# 先裝 mysql的connection driver
# pip install PyMySQL

from sqlalchemy import create_engine
# add "+pymysql" in url
mysql_db_url = 'mysql+pymysql://spy1hmjzgmohf37t:qo1v8pi7y4kflyoj@wb39lt71kvkgdmw0.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/qm1f2chzljeztwqj'
my_db = create_engine(mysql_db_url)

In [ ]:
# check and create table
resultProxy = my_db.execute("CREATE TABLE IF NOT EXISTS jacky_table(name text NOT NULL, score int)")
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x1e705eedf28>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x1e7059ef198>,
 'cursor': None,
 '_saved_cursor': <pymysql.cursors.Cursor at 0x1e705eedba8>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1e705eed668>,
 '_echo': False,
 'rowcount': 0,
 '_soft_closed': True}

In [ ]:
name = 'yang'
score = 80
resultProxy=my_db.execute("insert into malo_table (name, score) values('%s', '%s')" %(name, score))

In [ ]:
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x1e705f0c518>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x1e7059ef198>,
 'cursor': None,
 '_saved_cursor': <pymysql.cursors.Cursor at 0x1e705f0c550>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1e705f0c4e0>,
 '_echo': False,
 'rowcount': 1,
 '_soft_closed': True}

In [ ]:
# select
resultProxy=my_db.execute("select * from malo_table")
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('yang', 80)]

- 再多放幾筆

In [ ]:
name = 'lin'
score = 90
resultProxy=my_db.execute("insert into malo_table (name, score) values('%s', '%s')" %(name, score))
resultProxy

In [ ]:
# select
resultProxy=my_db.execute("select * from malo_table")
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('yang', 80), ('lin', 90)]

In [ ]:
import pandas as pd

df = pd.DataFrame(data)
df

      0   1
0  yang  80
1   lin  90

## upsert

In [ ]:
name = 'malo'
score = 95

sql_cmd = "insert into malo_table (name, score) values('%s', '%s') " %(
    name, score )    
sql_cmd = sql_cmd + "ON DUPLICATE KEY UPDATE score='%s'" %(
    score )

resultProxy = my_db.execute(sql_cmd)
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x1e70e061940>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x1e7059ef198>,
 'cursor': None,
 '_saved_cursor': <pymysql.cursors.Cursor at 0x1e70e061a20>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1e70e061978>,
 '_echo': False,
 'rowcount': 1,
 '_soft_closed': True}

In [ ]:
name = 'malo'
score = 95

sql_cmd = "insert into malo_table (name, score) values('%s', '%s') " %(
    name, score )    
sql_cmd = sql_cmd + "ON DUPLICATE KEY UPDATE score='%s'" %(
    score )

resultProxy = my_db.execute(sql_cmd)
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x1e70e0617b8>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x1e7059ef198>,
 'cursor': None,
 '_saved_cursor': <pymysql.cursors.Cursor at 0x1e70e061898>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1e70e0617f0>,
 '_echo': False,
 'rowcount': 1,
 '_soft_closed': True}

----

In [5]:
# check and create table
resultProxy = my_db.execute("CREATE TABLE IF NOT EXISTS malo_table2(name varchar(20) NOT NULL PRIMARY KEY, score Integer)")
resultProxy.__dict__

{'_echo': False,
 '_metadata': <sqlalchemy.engine.cursor._LegacyNoResultMetaData at 0x7f2f88189f10>,
 '_soft_closed': True,
 'connection': <sqlalchemy.engine.base.Connection at 0x7f2f87229650>,
 'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x7f2f87229290>,
 'cursor': None,
 'cursor_strategy': <sqlalchemy.engine.cursor.NoCursorDMLFetchStrategy at 0x7f2f886a6ac0>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x7f2f87d46ad0>,
 'rowcount': 0}

In [6]:
name = 'yang'
score = 80
resultProxy=my_db.execute("insert into malo_table2 (name, score) values('%s', '%s')" %(name, score))

In [ ]:
resultProxy.__dict__

{'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x1e705f0c518>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x1e7059ef198>,
 'cursor': None,
 '_saved_cursor': <pymysql.cursors.Cursor at 0x1e705f0c550>,
 'connection': <sqlalchemy.engine.base.Connection at 0x1e705f0c4e0>,
 '_echo': False,
 'rowcount': 1,
 '_soft_closed': True}

In [7]:
# select
resultProxy=my_db.execute("select * from malo_table")
data = resultProxy.fetchall()
print('-- data --')
print(data)

-- data --
[('Cindy', 95), ('malo', 95)]

In [ ]:
resultProxy.__dict__

### upsert

In [9]:
name = 'malo'
score = 70

sql_cmd = "insert into malo_table2 (name, score) values('%s', '%s') " %(
    name, score )    
sql_cmd = sql_cmd + "ON DUPLICATE KEY UPDATE score='%s'" %(
    score )

resultProxy = my_db.execute(sql_cmd)
resultProxy.__dict__

{'_echo': False,
 '_metadata': <sqlalchemy.engine.cursor._LegacyNoResultMetaData at 0x7f2f88189f10>,
 '_soft_closed': True,
 'connection': <sqlalchemy.engine.base.Connection at 0x7f2f871da310>,
 'context': <sqlalchemy.dialects.mysql.mysqldb.MySQLExecutionContext_mysqldb at 0x7f2f871da490>,
 'cursor': None,
 'cursor_strategy': <sqlalchemy.engine.cursor.NoCursorDMLFetchStrategy at 0x7f2f886a6ac0>,
 'dialect': <sqlalchemy.dialects.mysql.pymysql.MySQLDialect_pymysql at 0x7f2f87d46ad0>,
 'rowcount': 2}